In [1]:
import pymongo
import pandas as pd

In [2]:
client = pymongo.MongoClient('mongodb+srv://dislieee7:viyan@cluster.c3bm6mq.mongodb.net/?retryWrites=true&w=majority')
db = client["airbnb"]
col = db["Nalina"]

In [60]:
data = []
for i in col.find( {}, {'_id':1,'listing_url':1,'name':1,'property_type':1,'room_type':1,'bed_type':1,
                        'minimum_nights':1,'maximum_nights':1,'cancellation_policy':1,'accommodates':1,
                        'bedrooms':1,'beds':1,'number_of_reviews':1,'bathrooms':1,'price':1,
                        'cleaning_fee':1,'extra_people':1,'guests_included':1,'images.picture_url':1,
                        'review_scores.review_scores_rating':1} ):
    data.append(i)

df = pd.DataFrame(data)
df['images'] = df['images'].apply(lambda x: x['picture_url'])
df['review_scores'] = df['review_scores'].apply(lambda x: x.get('review_scores_rating',0))
df.head()

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images,review_scores
0,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,1.0,1.0,70,1.0,135.00,135.00,0.00,1,https://a0.muscache.com/im/pictures/15074036/a...,94
1,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,Bed and breakfast,Private room,Real Bed,1,1125,moderate,3,1.0,2.0,29,1.0,121.00,NaN,0.00,1,https://a0.muscache.com/im/pictures/68de30b5-e...,92
2,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,1.0,2.0,3,1.0,699.00,NaN,0.00,1,https://a0.muscache.com/im/pictures/4533a1dc-6...,100
3,10084023,https://www.airbnb.com/rooms/10084023,City center private room with bed,Guesthouse,Private room,Futon,1,500,strict_14_with_grace_period,1,1.0,1.0,81,1.0,181.00,50.00,100.00,1,https://a0.muscache.com/im/pictures/e6275515-7...,92
4,10091713,https://www.airbnb.com/rooms/10091713,Surry Hills Studio - Your Perfect Base in Sydney,Apartment,Entire home/apt,Real Bed,10,21,strict_14_with_grace_period,2,0.0,1.0,64,1.0,181.00,50.00,0.00,1,https://a0.muscache.com/im/pictures/f8eaba4e-d...,95

In [62]:
(df.isnull().sum()/len(df))*100

_id                     0.000000
listing_url             0.000000
name                    0.000000
property_type           0.000000
room_type               0.000000
bed_type                0.000000
minimum_nights          0.000000
maximum_nights          0.000000
cancellation_policy     0.000000
accommodates            0.000000
bedrooms                0.090009
beds                    0.234023
number_of_reviews       0.000000
bathrooms               0.180018
price                   0.000000
cleaning_fee           27.560756
extra_people            0.000000
guests_included         0.000000
images                  0.000000
review_scores           0.000000
dtype: float64

In [71]:
df["beds"] = df["beds"].ffill()
df["bedrooms"] = df["bedrooms"].bfill()
df["bathrooms"] = df["bathrooms"].fillna(df["bathrooms"].mode()[0])
df['cleaning_fee'].fillna('Not Specified', inplace=True)

In [72]:
df.isnull().sum()

_id                    0
listing_url            0
name                   0
property_type          0
room_type              0
bed_type               0
minimum_nights         0
maximum_nights         0
cancellation_policy    0
accommodates           0
bedrooms               0
beds                   0
number_of_reviews      0
bathrooms              0
price                  0
cleaning_fee           0
extra_people           0
guests_included        0
images                 0
review_scores          0
dtype: int64

In [75]:
df.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights          object
maximum_nights          object
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
bathrooms               object
price                   object
cleaning_fee            object
extra_people            object
guests_included         object
images                  object
review_scores            int64
dtype: object

In [76]:
df['minimum_nights'] = df['minimum_nights'].astype(int)
df['maximum_nights'] = df['maximum_nights'].astype(int)
df['bedrooms'] = df['bedrooms'].astype(int)
df['beds'] = df['beds'].astype(int)
df['bathrooms'] = df['bathrooms'].astype(str).astype(float)
df['price'] = df['price'].astype(str).astype(float).astype(int)
df['cleaning_fee'] = df['cleaning_fee'].apply(lambda x: int(float(str(x))) if x != 'Not Specified' else 'Not Specified')
df['extra_people'] = df['extra_people'].astype(str).astype(float).astype(int)
df['guests_included'] = df['guests_included'].astype(str).astype(int)

In [77]:
df.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights           int32
maximum_nights           int32
cancellation_policy     object
accommodates             int64
bedrooms                 int32
beds                     int32
number_of_reviews        int64
bathrooms              float64
price                    int32
cleaning_fee            object
extra_people             int32
guests_included          int32
images                  object
review_scores            int64
dtype: object

#### HOST

In [78]:
host = []
for i in col.find( {}, {'_id':1, 'host':1}):
    host.append(i)

df_host = pd.DataFrame(host)
host_keys = list(df_host.iloc[0,1].keys())
host_keys.remove('host_about')

for i in host_keys:
    if i == 'host_response_time':
        df_host['host_response_time'] = df_host['host'].apply(lambda x: x['host_response_time'] if 'host_response_time' in x else 'Not Specified')
    else:
        df_host[i] = df_host['host'].apply(lambda x: x[i] if i in x and x[i]!='' else 'Not Specified')

df_host.drop(columns=['host'], inplace=True)
df_host.head()

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,1003530,454250,https://www.airbnb.com/users/show/454250,Greta,"New York, New York, United States",within an hour,https://a0.muscache.com/im/pictures/f1022be4-e...,https://a0.muscache.com/im/pictures/f1022be4-e...,Not Specified,100,True,True,True,3,3,"[email, phone, reviews, jumio, offline_governm..."
1,10133554,52004703,https://www.airbnb.com/users/show/52004703,Mehmet Emin,"Istanbul, İstanbul, Turkey",within a few hours,https://a0.muscache.com/im/pictures/user/4cb6b...,https://a0.muscache.com/im/pictures/user/4cb6b...,Not Specified,100,False,True,True,2,2,"[email, phone, facebook, reviews, jumio, offli..."
2,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",Not Specified,https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,Not Specified,False,True,False,1,1,"[email, phone, reviews, jumio, government_id]"
3,10084023,51744313,https://www.airbnb.com/users/show/51744313,Yi,United States,within an hour,https://a0.muscache.com/im/pictures/user/a204d...,https://a0.muscache.com/im/pictures/user/a204d...,Shek Kip Mei,100,False,True,True,2,2,"[email, phone, reviews, jumio, offline_governm..."
4,10091713,13764143,https://www.airbnb.com/users/show/13764143,Ben,"New South Wales, Australia",Not Specified,https://a0.muscache.com/im/pictures/03c4d82b-7...,https://a0.muscache.com/im/pictures/03c4d82b-7...,Surry Hills,Not Specified,False,True,True,1,1,"[email, phone, google, reviews, jumio, offline..."

In [79]:
df_host['host_is_superhost'] = df_host['host_is_superhost'].map({False:'No',True:'Yes'})
df_host['host_has_profile_pic'] = df_host['host_has_profile_pic'].map({False:'No',True:'Yes'})
df_host['host_identity_verified'] = df_host['host_identity_verified'].map({False:'No',True:'Yes'})
df_host.head()

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,1003530,454250,https://www.airbnb.com/users/show/454250,Greta,"New York, New York, United States",within an hour,https://a0.muscache.com/im/pictures/f1022be4-e...,https://a0.muscache.com/im/pictures/f1022be4-e...,Not Specified,100,Yes,Yes,Yes,3,3,"[email, phone, reviews, jumio, offline_governm..."
1,10133554,52004703,https://www.airbnb.com/users/show/52004703,Mehmet Emin,"Istanbul, İstanbul, Turkey",within a few hours,https://a0.muscache.com/im/pictures/user/4cb6b...,https://a0.muscache.com/im/pictures/user/4cb6b...,Not Specified,100,No,Yes,Yes,2,2,"[email, phone, facebook, reviews, jumio, offli..."
2,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",Not Specified,https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,Not Specified,No,Yes,No,1,1,"[email, phone, reviews, jumio, government_id]"
3,10084023,51744313,https://www.airbnb.com/users/show/51744313,Yi,United States,within an hour,https://a0.muscache.com/im/pictures/user/a204d...,https://a0.muscache.com/im/pictures/user/a204d...,Shek Kip Mei,100,No,Yes,Yes,2,2,"[email, phone, reviews, jumio, offline_governm..."
4,10091713,13764143,https://www.airbnb.com/users/show/13764143,Ben,"New South Wales, Australia",Not Specified,https://a0.muscache.com/im/pictures/03c4d82b-7...,https://a0.muscache.com/im/pictures/03c4d82b-7...,Surry Hills,Not Specified,No,Yes,Yes,1,1,"[email, phone, google, reviews, jumio, offline..."

In [80]:
df_host.isnull().sum()

_id                          0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_response_time           0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_response_rate           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_listings_count          0
host_total_listings_count    0
host_verifications           0
dtype: int64

In [81]:
df_host.dtypes

_id                          object
host_id                      object
host_url                     object
host_name                    object
host_location                object
host_response_time           object
host_thumbnail_url           object
host_picture_url             object
host_neighbourhood           object
host_response_rate           object
host_is_superhost            object
host_has_profile_pic         object
host_identity_verified       object
host_listings_count           int64
host_total_listings_count     int64
host_verifications           object
dtype: object

#### ADDRESS

In [82]:
address = []
for i in col.find( {}, {'_id':1, 'address':1}):
    address.append(i)

df_address = pd.DataFrame(address)
address_keys = list(df_address.iloc[0,1].keys())

for i in address_keys:
    if i == 'location':
        df_address['location_type'] = df_address['address'].apply(lambda x: x['location']['type'])
        df_address['longitude'] = df_address['address'].apply(lambda x: x['location']['coordinates'][0])
        df_address['latitude'] = df_address['address'].apply(lambda x: x['location']['coordinates'][1])
        df_address['is_location_exact'] = df_address['address'].apply(lambda x: x['location']['is_location_exact'])
    else:
        df_address[i] = df_address['address'].apply(lambda x: x[i] if x[i]!='' else 'Not Specified')

df_address.drop(columns=['address'], inplace=True)
df_address.head()

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,1003530,"New York, NY, United States",Manhattan,Upper West Side,New York,United States,US,Point,-73.96523,40.79962,False
1,10133554,"Fatih , İstanbul, Turkey",Fatih,Fatih,Istanbul,Turkey,TR,Point,28.98009,41.00620,False
2,10059872,"Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.15027,22.28158,True
3,10084023,"Hong Kong , 九龍, Hong Kong",Sham Shui Po District,Sham Shui Po,Hong Kong,Hong Kong,HK,Point,114.16690,22.33140,True
4,10091713,"Surry Hills, NSW, Australia",Darlinghurst,Sydney,Sydney,Australia,AU,Point,151.21554,-33.88029,True

In [83]:
df_address['is_location_exact'] = df_address['is_location_exact'].map({False:'No',True:'Yes'})
df_address.head()

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,1003530,"New York, NY, United States",Manhattan,Upper West Side,New York,United States,US,Point,-73.96523,40.79962,No
1,10133554,"Fatih , İstanbul, Turkey",Fatih,Fatih,Istanbul,Turkey,TR,Point,28.98009,41.00620,No
2,10059872,"Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.15027,22.28158,Yes
3,10084023,"Hong Kong , 九龍, Hong Kong",Sham Shui Po District,Sham Shui Po,Hong Kong,Hong Kong,HK,Point,114.16690,22.33140,Yes
4,10091713,"Surry Hills, NSW, Australia",Darlinghurst,Sydney,Sydney,Australia,AU,Point,151.21554,-33.88029,Yes

In [84]:
df_address.isnull().sum()

_id                  0
street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
location_type        0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [85]:
df_address.dtypes

_id                   object
street                object
suburb                object
government_area       object
market                object
country               object
country_code          object
location_type         object
longitude            float64
latitude             float64
is_location_exact     object
dtype: object

In [86]:
availability = []
for i in col.find( {}, {'_id':1, 'availability':1}):
    availability.append(i)

df_availability = pd.DataFrame(availability)
availability_keys = list(df_availability.iloc[0,1].keys())

for i in availability_keys:
    df_availability['availability_30'] = df_availability['availability'].apply(lambda x: x['availability_30'])
    df_availability['availability_60'] = df_availability['availability'].apply(lambda x: x['availability_60'])
    df_availability['availability_90'] = df_availability['availability'].apply(lambda x: x['availability_90'])
    df_availability['availability_365'] = df_availability['availability'].apply(lambda x: x['availability_365'])

df_availability.drop(columns=['availability'], inplace=True)
df_availability.head()

,_id,availability_30,availability_60,availability_90,availability_365
0,1003530,0,0,0,93
1,10133554,30,60,90,365
2,10059872,0,0,0,0
3,10084023,14,24,40,220
4,10091713,0,0,0,0

In [87]:
df_availability.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [88]:
df_availability.dtypes

_id                 object
availability_30      int64
availability_60      int64
availability_90      int64
availability_365     int64
dtype: object

In [89]:
def amenities_sort(x):
    a = x
    a.sort(reverse=False)
    return a

amenities = []
for i in col.find( {}, {'_id':1, 'amenities':1}):
    amenities.append(i)

df_amenities = pd.DataFrame(amenities)
df_amenities['amenities'] = df_amenities['amenities'].apply(lambda x: amenities_sort(x))
df_amenities.head()

        _id                                          amenities
0   1003530  [Air conditioning, Buzzer/wireless intercom, D...
1  10133554  [Air conditioning, Building staff, Dryer, Esse...
2  10059872  [24-hour check-in, Air conditioning, Doorman, ...
3  10084023  [Air conditioning, Dishes and silverware, Elev...
4  10091713  [Bed linens, Dryer, Elevator, Essentials, Ethe...

In [90]:
df_amenities.isnull().sum()

_id          0
amenities    0
dtype: int64

In [91]:
df_amenities.dtypes

_id          object
amenities    object
dtype: object

In [92]:
df = pd.merge(df, df_host, on='_id')
df = pd.merge(df, df_address, on='_id')
df = pd.merge(df, df_availability, on='_id')
df = pd.merge(df, df_amenities, on='_id')
df.head(3)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,...,country_code,location_type,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365,amenities
0,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,...,US,Point,-73.96523,40.79962,No,0,0,0,93,"[Air conditioning, Buzzer/wireless intercom, D..."
1,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,Bed and breakfast,Private room,Real Bed,1,1125,moderate,3,...,TR,Point,28.98009,41.00620,No,30,60,90,365,"[Air conditioning, Building staff, Dryer, Esse..."
2,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,...,HK,Point,114.15027,22.28158,Yes,0,0,0,0,"[24-hour check-in, Air conditioning, Doorman, ..."